<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>鸢尾花种类预测(iris)</h2>
    <form action="#"  method="post">
    <label>花萼长度(cm)</label>
    <input type="text" name="sepalLengthCm"  value="5.8"><br>
    <label>花萼宽度(cm)</label>
    <input type="text" name="sepalWidthCm"  value="3"><br>
    <label>花瓣宽度(cm)</label>
    <input type="text" name="petalLengthCm"  value="5.1"><br>
    <label>花瓣长度(cm)</label>
    <input type="text" name="petalWidthCm"  value="1.8"><br><br>

    <input type="submit" value="submit" onclick="submit()"><br><br>
    </form>


</body>
</html>